<div class="container">
<div class="page-header text-center">
  <h1 class="text-center" >{{ title }}</h1>
    <h5 class="text-center" >{{ url }}</h5>
    <div class="button-container">
      <button ng-click="toggleHistory()" ng-show="showHistory"> Hide History </button>
      <button ng-click="toggleHistory()" ng-hide="showHistory"> Show History </button>
      <button > Clone </button>
      <button > Delete </button>
    </div>
  </div>

    
    <div as-sortable ng-model="items" class="list-group list-group-todo">
      <div as-sortable-item class="list-group-item todo-item" ng-repeat="item in items" ng-class="{'todo-complete': item.complete}">
          <span  id="handle"></span>
          <span class="close" ng-click="removeTodo($index)">&times;</span>
        <label as-sortable-item-handle>
          <input type="checkbox" ng-model="item.complete" ng-click="toggleCompleteTodo($event, $index)">
          <span  ng-bind="item.text">This is the content of the Todo</span>
        </label>
      </div>
    </div>
    
      
    <form ng-submit="addTodo(newTodo)">
      <input type="text" ng-model="newTodo" class="form-control" placeholder="New Todo Item" focus>
    </form>
    
    <div infinite-scroll='viewMoreHistory()' infinite-scroll-disabled='noMoreResults' infinite-scroll-distance='1'  class="history-container" ng-class="{show: showHistory}">
    <div class="history-heading" >History</div>
    <div ng-repeat="(key, value) in viewItemsHistory | groupBy:'cleanup_date'">
          <h4>{{value[0].cleanup_date | date : mediumDate }}</h4>
          <div class="history-list list-group">
          <div class="list-group-item todo-item" ng-repeat=" item in value | orderBy: 'text' " ng-class="{'todo-complete': item.complete}">
            <label>
              <input type="checkbox" ng-model="item.complete" disabled>
              <span>{{item.text}}</span>
            </label>
          </div>
          </div>
    </div>
    <div style='clear: both;'></div>
    </div>
  </div>